* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../images/soroush-karimi-192112-unsplash.jpg');
  background-size: contain;
}
main {
  background: white;
  opacity: 0.7;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
}
main > div {
  margin-bottom: 25px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.row > * {
  flex: 1;
}
.planTime, .realTime, .delay {
  flex: 0 0 60px;
}
.delay {
  text-align: right;
  padding-right: 10px;
}