* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../images/soroush-karimi-192112-unsplash.jpg');
  background-size: contain;
}
header, footer {
  background: #333;
  opacity: 0.7;
  color: white;
  width: 85%;
  margin: 35px auto;
  padding: 20px;
  text-align: center;
}
main {
  background: white;
  opacity: 0.7;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
}
main > div {
  margin: 15px 15px 15px 15px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.row > * {
  flex: 1;
}
h2 {
  margin: 10px 0 10px 0;
}
h3 {
  margin: 5px 0 5px 0;
}
.planTime, .realTime {
  flex: 0 0 50px;
}
.delay {
  flex: 0 0 30px;
  text-align: right;
  padding-right: 10px;
}
.line {
  flex: 0 0 80px;
}